@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";

@layer base {
  h1 {
    @apply text-4xl font-extrabold tracking-tight mt-10;
  }
  h2 {
    @apply text-3xl font-extrabold tracking-tight mt-8;
  }
}
